[submodule "3rdParty/spdlog"]
	path = 3rdParty/spdlog
	url = https://github.com/gabime/spdlog
	branch = master
[submodule "3rdParty/Eigen"]
	path = 3rdParty/Eigen
	url = https://gitlab.com/libeigen/eigen
	branch = master
[submodule "3rdParty/Catch2"]
	path = 3rdParty/Catch2
	url = https://github.com/catchorg/Catch2
	branch = master
